* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;

}

header {
    background-color: #1F2937;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    font-size: 14px;
}

.description {
    color: white;
    min-height: 30%;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.left h1 {
    font-size: 30px;
}

.description img {
    max-width: 380px;
    height: auto;
    float: right;
    padding: 20px;
}

.left {
    max-width: 320px;
    height: auto;
}

button {
    background-color: #3882F6; /* Blue */
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    margin-bottom: 5px;
}

.description p {
    margin-bottom: 15px;
}

.random-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.random-info h2 {
    padding-top: 15px;
}


.boxes {
    display: flex;
    justify-content: center;
}

.boxes .box {
    min-width: fit-content;
    max-width: 90px;
    height: auto;
    margin: 30px;
    padding-bottom: 20px;
  /*  border: 5px solid red; */
}

.box img {
    max-width: 90px;
    height: auto;
    border: 3px solid #1F2937;
    padding: 0%;
}

.box {
    text-align: center;
    font-size: 10px;
}

.review i {
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 3px;
}

.review p {
    float: right;
    margin-right: 25%;
    padding-bottom: 50px;
}

.review {
    background-color: #e5e7eb;
}

.blue-box {
  /*  margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%; */
    margin: 50px 20%;
    background-color: #3882F6;
    padding: 25px 50px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.blue-box .text {
    float: left;
}

.blue-box button {
/*    float: right;
    border: 2px solid white;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px; */
    background-color: #3882F6; /* Blue */
    border: 1px solid white;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

footer {
    background-color: #1F2937;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
